body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: aliceblue;
}

.menu a:hover{
    font-size: 15px;
    text-decoration: none;
    margin-left: 15px;
    color: #296cd8;
    background-color: lightseagreen;

}

header img{
    height: 40px;
    width: 40px;
    float: right;
    padding-right: 15px;
}

li{
    list-style: none;
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
}
.exemplo{
    text-align: center;
}


.exemplo li{
    background-color: violet;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 20px;
}

li:nth-child(2){
    background-color: #f4c141;
    height: 200px;
    width: 200px;
    
}

li:last-child{
    background-color: blue;
    height: 200px;
    width: 200px;
}

#img{
    width: 500px;
    height: 300px;
    display: block;
    margin:0 auto;
}

.container ul{
    display: flex;
    justify-content: center;    
}

.container li{
    background-color: crimson;
    width: 200px;
    height: 200px;
    
}

.fds li{
    background-color: cornflowerblue;
    width: 200px;
    height: 100px;
}

.fds{
    flex-direction: row;
    justify-content: space-around;
}

#pudim{
    position: sticky;
}

.flores{
    
    position: relative;
    top: -620px;
    left: 170px;
}

.flores img{
    width: 100px;
    height: 100px;
    display: flex;
    display: inline;

}
